# dependencies
/node_modules
/.pnp
.pnp.js

# testing
coverage/

# misc
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# webpack
.webpack/

# publishing
target/
out/
dist/

# env
.env
.env.*
