{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "printWidth": 90,
  "semi": false,
  "useTabs": false
}
